{% extends 'layout.html' %}
{% block title %}
<div class="row">
  <div class="d-flex justify-content-start" style="float:left;">
    <h3>{{ title }}</h3>
  </div>
</div>
{% endblock %}
{% block content %}
<div style="width:80%;margin: 0 auto; margin-top:30px;">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.codigo.label }}
                {{ form.codigo }}
                {{ form.nombre.label }}
                {{ form.nombre }}
                {{ form.cliente.label }}
                {{ form.cliente }}
            </div>
            <div class="col-md-6">
                {{ form.imagen.label }}
                {{ form.imagen }}
                {{ form.cantidad.label }}
                {{ form.cantidad }}
                {{ form.precio.label }}
                {{ form.precio }}
            </div>
        </div>
        {{ form.descripcion.label }}
        {{ form.descripcion }}
        <br/>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}


