{% extends 'layout.html' %}

{% block content %}
<div style="width:80%;margin: 0 auto; margin-top:30px;">
    <h3>{{ title }}</h3>
    <br/>
    <form method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.codigo.label }}
                {{ form.codigo }}
                {{ form.nombre.label }}
                {{ form.nombre }}
                {{ form.cliente.label }}
                {{ form.cliente }}
            </div>
            <div class="col-md-6">
                {{ form.imagen.label }}
                {{ form.imagen }}
                {{ form.cantidad.label }}
                {{ form.cantidad }}
                {{ form.precio.label }}
                {{ form.precio }}
            </div>
        </div>
        {{ form.descripcion.label }}
        {{ form.descripcion }}
        <br/>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}


