{% extends 'layout.html' %}
{% block title %}
<div class="row">
  <div class="d-flex justify-content-start" style="float:left;">
    <h3>{{ title }}</h3>
  </div>
</div>
{% endblock %}
{% block content %}
<div style="width:80%;margin: 0 auto; margin-top:30px;">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.rel_cliente.label }}
                {{ form.rel_cliente }}
                {{ form.fecha_factura.label }}
                <input type="date" class="form-control" id="fecha_factura" name="fecha_factura"
                       value="{{ form.fecha_factura.value|date:'Y-m-d' }}"/>
            </div>
            <div class="col-md-6">
                {{ form.observaciones.label }}
                {{ form.observaciones }}
            </div>
        </div>
        <div class="row">
            <select hidden="hidden" class="form-control" id="field_rel_producto" name="rel_producto_item">
                {% for producto in productos %}
                <option value="{{ producto.codigo }}">{{ producto }}</option>
                {% endfor %}
            </select>
            <table class="table" id="TablaDetalleFactura">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio unitario</th>
                  <th scope="col">Total</th>
                  <th scope="col">
                      <button type="button" id="btnAgregarItemDetalle"
                              class="agregarItemDetalle btn btn-sm btn-outline-success">
                          Agregar
                      </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for item in detalles %}
                    <tr>
                      <td>
                          <select class="form-control" id="field_rel_producto" name="rel_producto_0"
                            value="{{ item.rel_producto }}">
                                {% for producto in productos %}
                                <option value="{{ producto.codigo }}">{{ producto }}</option>
                                {% endfor %}
                          </select>
                      </td>
                      <td>
                          <input type="number" class="form-control" name="cantidad_0" value="{{ item.cantidad }}">
                      </td>
                      <td>
                          <input type="number" step="0.01" class="form-control" name="precio_unitario_0" value="{{ item.precio_unitario|floatformat }}">
                      </td>
                      <td>
                          <input type="number" step="0.01" class="form-control" name="precio_total_0" value="{{ item.precio_total|floatformat }}">
                      </td>
                      <td>
                        <button type="button" id="btnEliminarItemDetalle" class="eliminarItemDetalle btn btn-sm btn-outline-danger">Eliminar</button>
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="offset-md-10 col-md-2">
            {{ form.precio_total.label }}
            {{ form.precio_total }}
        </div>
        <br/>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}


