{% extends 'layout.html' %}

{% block title %}
<div class="row">
  <div class="d-flex justify-content-start" style="float:left;">
    <h3>Facturas</h3>
  </div>
  <div class="d-flex justify-content-end" style="float:left;">
    <a type="button" class="btn btn-sm btn-outline-success" href="{% url 'crear_factura' %}">Crear</a>
  </div>
</div>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Gran Total</th>
      <th scope="col">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    {% for factura in facturas %}
        <tr>
          <td>{{ factura.id }}</td>
          <td>{{ factura.rel_cliente }}</td>
          <td>{{ factura.precio_total }}</td>
          <td>{{ factura.observaciones }}</td>
          <td><a type="button" class="btn btn-sm btn-outline-primary"
                 href="{% url 'modificar_factura' id=factura.id %}">Modificar</a>
          </td>
          <td><a type="button" class="btn btn-sm btn-outline-danger"
                  href="{% url 'eliminar_factura' id=factura.id %}">Eliminar</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}